<div>
    <h2 id="page-heading">
        <span jhiTranslate="bouleDeCristalApp.imputation.home.title">Imputations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-imputation" [routerLink]="['/imputation/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="bouleDeCristalApp.imputation.home.createLabel">
            Create a new Imputation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="imputations?.length === 0">
        <span jhiTranslate="bouleDeCristalApp.imputation.home.notFound">No imputations found</span>
    </div>
    <div class="table-responsive" *ngIf="imputations?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="bouleDeCristalApp.imputation.date">Date</span></th>
            <th><span jhiTranslate="bouleDeCristalApp.imputation.valeur">Valeur</span></th>
            <th><span jhiTranslate="bouleDeCristalApp.imputation.isReal">Is Real</span></th>
            <th><span jhiTranslate="bouleDeCristalApp.imputation.isFigee">Is Figee</span></th>
            <th><span jhiTranslate="bouleDeCristalApp.imputation.isRegularisation">Is Regularisation</span></th>
            <th><span jhiTranslate="bouleDeCristalApp.imputation.tache">Tache</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let imputation of imputations ;trackBy: trackId">
                <td><a [routerLink]="['/imputation', imputation.id, 'view' ]">{{imputation.id}}</a></td>
                <td>{{imputation.date | date:'medium'}}</td>
                <td>{{imputation.valeur}}</td>
                <td>{{imputation.isReal}}</td>
                <td>{{imputation.isFigee}}</td>
                <td>{{imputation.isRegularisation}}</td>
                <td>
                    <div *ngIf="imputation.tache">
                        <a [routerLink]="['/tache', imputation.tache?.id, 'view' ]" >{{imputation.tache?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/imputation', imputation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/imputation', imputation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/imputation', { outlets: { popup: imputation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
